@tailwind base;
@tailwind components;
@tailwind utilities;

.font-Gilroy-Regular {
  font-family: Gilroy-Regular;
}
.video-border {
  border-radius: 5px;
}
@font-face {
  font-family: "Gilroy-Regular";
  src: url("./assets/font/Gilroy-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./assets/font/Gilroy-Medium.ttf") format("ttf");
}

.text-gilroy-regular {
  font-family: "Gilroy-Regular", sans-serif;
}

.text-gilroy-medium {
  font-family: "Gilroy-medium", sans-serif;
}
.text-gilroy-light {
  font-family: "Gilroy-Light", sans-serif;
}
.text-gilroy-semibold {
  font-family: "Gilroy-Semibold", sans-serif;
}
.text-gilroy-mediumItalic {
  font-family: "Gilroy-MediumItalic", sans-serif;
}
.text-gilroy-bold {
  font-family: "Gilroy-Bold", sans-serif;
}

.buds-background-image {
  background-image: url("./assets/images/bg.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position: right bottom;
}

.query-bg-image {
  background-image: url("./assets/images/landingpagebg2.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position: right bottom;
}

.shadow-custom {
  box-shadow: 0px 24.102px 96.407px 0px rgba(0, 0, 0, 0.05);
}

.landing-hero-bg-image {
  background-image: url("./assets/images/herobg.svg");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-position: right bottom;
}
